__pycache__/
*.pyc
.pytest_cache/
.coverage
vendor/
*.tmp
build/
coverage/
node_modules/
reports/
coverage/
vendor/cache/
vendor/cache/npm/
coverage/
vendor/cache/npm/_logs/
vendor/cache/npm/_update-notifier-last-checked
